// Version: 9.3

#ifndef _OXMAIN_RC__
#define _OXMAIN_RC__
#include "OXMainRes.h"
#include "OXSysInfo.rc"
#include "OXGridList.rc"
#include "OXEditList.rc"
#include "OXBrowseDirEdit.rc"
#include "OXFrameWndDock.rc"
#include "OXUNCStandartActor.rc"
#include "OXMenuBar.rc"
#include "OXSpinCtrl.rc"
#include "OXBMPFilePickerCombo.rc"
#include "OXMetaFile.rc"
#include "OXHyperLinkAction.rc"
#include "OXDao.rc"
#include "OXCustomizeManager.rc"
#include "OXDockCtrlBars.RC"
#include "OXDirDlg.rc"
#include "OXHistoryCombo.rc"
#include "OXIntelliMouse.rc"
#include "OXWABook.rc"
#include "OXMulticlipboardDlg.rc"
#include "OXNetBrowseTree.rc"
#include "OXNotesEditView.rc"
#include "OXUndo.rc"
#include "OXOptionTreeCtrl.rc"
#include "OXListBoxEx.rc"
#include "OXPreviewDialog.rc"
#include "OXPopupBarCtrl.rc"
#include "OXRollUp.rc"
#include "OXCoolBar.rc"
#include "OXBitmapMenu.rc"
#include "OXCoolToolBar.rc"
#include "OXSoundCustomizeDlg.rc"
#include "OXProcess.rc"
#include "OXBitmapButton.rc"
#include "OXShortcut.rc"
#include "OXImageViewer.rc"
#include "OXCalculatorCtrl.rc"
#include "OXPhysicalEditEx.rc"
#include "OXFolderPickerDlg.rc"
#include "OXFileWatcher.rc"
#include "OXScrollWnd.rc"
#include "OXShortcutBar.rc"
#include "OXCalendarPopup.rc"
#include "OXRegExpression.rc"
#include "OXShellObjectList.rc"
#include "OXShellFolderTree.rc"
#include "OXPropertiesWnd.rc"
#endif //_OXMAIN_RC__

